<?xml version="1.0"?>
<!--
/**
 * Mageaustralia
 *
 * @package    Mageaustralia_Storefront
 * @copyright  Copyright (c) 2026 Mageaustralia
 * @license    https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Mageaustralia_Storefront>
            <version>1.1.0</version>
        </Mageaustralia_Storefront>
    </modules>
    <global>
        <models>
            <mageaustralia_storefront>
                <class>Mageaustralia_Storefront_Model</class>
                <resourceModel>mageaustralia_storefront_resource</resourceModel>
            </mageaustralia_storefront>
            <mageaustralia_storefront_resource>
                <class>Mageaustralia_Storefront_Model_Resource</class>
                <entities>
                    <log>
                        <table>storefront_activity_log</table>
                    </log>
                </entities>
            </mageaustralia_storefront_resource>
        </models>
        <blocks>
            <mageaustralia_storefront>
                <class>Mageaustralia_Storefront_Block</class>
            </mageaustralia_storefront>
        </blocks>
        <helpers>
            <mageaustralia_storefront>
                <class>Mageaustralia_Storefront_Helper</class>
            </mageaustralia_storefront>
        </helpers>
        <resources>
            <mageaustralia_storefront_setup>
                <setup>
                    <module>Mageaustralia_Storefront</module>
                </setup>
            </mageaustralia_storefront_setup>
        </resources>
        <events>
            <catalog_product_save_after>
                <observers>
                    <mageaustralia_storefront_product>
                        <class>mageaustralia_storefront/observer</class>
                        <method>onProductSave</method>
                    </mageaustralia_storefront_product>
                </observers>
            </catalog_product_save_after>
            <catalog_category_save_after>
                <observers>
                    <mageaustralia_storefront_category>
                        <class>mageaustralia_storefront/observer</class>
                        <method>onCategorySave</method>
                    </mageaustralia_storefront_category>
                </observers>
            </catalog_category_save_after>
            <cms_page_save_after>
                <observers>
                    <mageaustralia_storefront_cms_page>
                        <class>mageaustralia_storefront/observer</class>
                        <method>onCmsPageSave</method>
                    </mageaustralia_storefront_cms_page>
                </observers>
            </cms_page_save_after>
            <cms_block_save_after>
                <observers>
                    <mageaustralia_storefront_cms_block>
                        <class>mageaustralia_storefront/observer</class>
                        <method>onCmsBlockSave</method>
                    </mageaustralia_storefront_cms_block>
                </observers>
            </cms_block_save_after>
            <blog_post_save_after>
                <observers>
                    <mageaustralia_storefront_blog>
                        <class>mageaustralia_storefront/observer</class>
                        <method>onBlogPostSave</method>
                    </mageaustralia_storefront_blog>
                </observers>
            </blog_post_save_after>
            <admin_system_config_changed_section_mageaustralia_storefront>
                <observers>
                    <mageaustralia_storefront_config>
                        <class>mageaustralia_storefront/observer</class>
                        <method>onConfigChange</method>
                    </mageaustralia_storefront_config>
                </observers>
            </admin_system_config_changed_section_mageaustralia_storefront>
            <cataloginventory_stock_item_save_after>
                <observers>
                    <mageaustralia_storefront_stock>
                        <class>mageaustralia_storefront/observer</class>
                        <method>onStockChange</method>
                    </mageaustralia_storefront_stock>
                </observers>
            </cataloginventory_stock_item_save_after>
            <catalog_entity_attribute_save_after>
                <observers>
                    <mageaustralia_storefront_attribute>
                        <class>mageaustralia_storefront/observer</class>
                        <method>onAttributeSave</method>
                    </mageaustralia_storefront_attribute>
                </observers>
            </catalog_entity_attribute_save_after>
            <controller_action_predispatch>
                <observers>
                    <mageaustralia_storefront_session_unlock>
                        <class>mageaustralia_storefront/observer</class>
                        <method>releaseSessionForReadRequest</method>
                    </mageaustralia_storefront_session_unlock>
                </observers>
            </controller_action_predispatch>
            <controller_front_send_response_before>
                <observers>
                    <mageaustralia_storefront_flush>
                        <class>mageaustralia_storefront/observer</class>
                        <method>flushPendingInvalidations</method>
                    </mageaustralia_storefront_flush>
                </observers>
            </controller_front_send_response_before>
        </events>
    </global>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <Mageaustralia_Storefront before="Mage_Checkout">Mageaustralia_Storefront</Mageaustralia_Storefront>
                    </modules>
                </args>
            </checkout>
        </routers>
</frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mageaustralia_storefront before="Mage_Adminhtml">Mageaustralia_Storefront_Adminhtml</mageaustralia_storefront>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <mageaustralia_storefront>
                    <file>mageaustralia_storefront.xml</file>
                </mageaustralia_storefront>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mageaustralia_Storefront>
                    <files>
                        <default>Mageaustralia_Storefront.csv</default>
                    </files>
                </Mageaustralia_Storefront>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <mageaustralia_storefront_sync>
                <schedule>
                    <config_path>mageaustralia_storefront/cron/schedule</config_path>
                </schedule>
                <run>
                    <model>mageaustralia_storefront/cron::runScheduledSync</model>
                </run>
            </mageaustralia_storefront_sync>
            <mageaustralia_storefront_queue>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mageaustralia_storefront/observer::processQueuedInvalidations</model>
                </run>
            </mageaustralia_storefront_queue>
            <mageaustralia_storefront_log_cleanup>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>mageaustralia_storefront/cron::cleanupActivityLog</model>
                </run>
            </mageaustralia_storefront_log_cleanup>
        </jobs>
    </crontab>
    <default>
        <mageaustralia_storefront>
            <onboarding>
                <worker_script_name>maho-storefront-demo</worker_script_name>
            </onboarding>
            <cloudflare>
                <account_id/>
                <api_token backend_model="adminhtml/system_config_backend_encrypted"/>
                <zone_id/>
            </cloudflare>
            <worker>
                <storefront_url/>
                <sync_secret backend_model="adminhtml/system_config_backend_encrypted"/>
                <kv_namespace_id/>
            </worker>
            <general>
                <log_retention_days>7</log_retention_days>
            </general>
            <events>
                <enabled>1</enabled>
                <debounce_seconds>5</debounce_seconds>
            </events>
            <cron>
                <enabled>0</enabled>
                <schedule>0 */4 * * *</schedule>
                <sync_types>config,countries,categories,products,cms,blog</sync_types>
            </cron>
        </mageaustralia_storefront>
    </default>
</config>
